<a href="https://colab.research.google.com/github/sarenales/Intro_python_basico/blob/main/C2_Introduccion(Funciones%2Carrays).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Funciones en Python üéâ un paso a la POO

Una funci√≥n es un bloque de c√≥digo que s√≥lo se ejecuta cuando se llama.

Puede pasar datos, conocidos como par√°metros, a una funci√≥n.

Una funci√≥n puede devolver datos como resultado.

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
my_function()

Hello from a function

La informaci√≥n se puede pasar a funciones como argumentos.

Los argumentos se especifican despu√©s del nombre de la funci√≥n, dentro del par√©ntesis. Puedes agregar tantos argumentos como quieras, simplemente sep√°ralos con una coma.

El siguiente ejemplo tiene una funci√≥n con un argumento (fname). Cuando se llama a la funci√≥n, pasamos un nombre, que se usa dentro de la funci√≥n para imprimir el nombre completo:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")   # Que va a hacer esta funcion?

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

## ¬øParametros o Argumentos?
Los t√©rminos par√°metro y argumento se pueden usar para lo mismo: informaci√≥n que se pasa a una funci√≥n.

Desde la perspectiva de una funci√≥n:

Un par√°metro es la variable que figura entre par√©ntesis en la definici√≥n de la funci√≥n.

Un argumento es el valor que se env√≠a a la funci√≥n cuando se llama.

In [ ]:
def my_function(fname): # parametro
  print(fname + " Refsnes")

my_function("Emil") # argumento

## N√∫mero de argumentos
De forma predeterminada, se debe llamar a una funci√≥n con la cantidad correcta de argumentos. Lo que significa que si su funci√≥n espera 2 argumentos, debe llamar a la funci√≥n con 2 argumentos, ni m√°s ni menos.

In [ ]:
def my_function(fname, lname):  # esta funcion espera 2 parametros
  print(fname + " " + lname)

my_function("Emil", "Refsnes")  # se le pasa 2 argumentos

Emil Refsnes

## Argumentos arbritrarios, *args

Si no sabe cu√°ntos argumentos se pasar√°n a su funci√≥n, se agrega un * antes del nombre del par√°metro en la definici√≥n de la funci√≥n.

De esta manera, la funci√≥n recibir√° una tupla de argumentos y podr√° acceder a los elementos en consecuencia:

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])  # accede a Linus

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

## Pasando una Lista como argumento

Puede enviar cualquier tipo de argumento de datos a una funci√≥n (cadena, n√∫mero, lista, diccionario, etc.) y ser√° tratado como el mismo tipo de datos dentro de la funci√≥n.

Por ejemplo, si env√≠a una *Lista* como argumento, seguir√° siendo una Lista cuando llegue a la funci√≥n:

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

## Valor RETURN
Para permitir que una funci√≥n devuelva un valor, utilice la declaraci√≥n de retorno/return. A veces no nos interesa imprimir todo el rato por pantalla, solamente queremos que se calcule un valor y se nos devuelva ese valor.

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# Ejercicios funciones üôÇ

## Ejercicio 1: Suma de dos n√∫meros
Escribe una **funci√≥n** que tome dos n√∫meros como par√°metros y devuelva su suma.

In [ ]:
def suma(num1,num2):
  return (num1+num2)


resultado = suma(3, 5)
print(f"La suma de 3 y 5 es: {resultado}")

La suma de 3 y 5 es: 8

## Ejercicio 2: Conversi√≥n de Grados Celsius a Fahrenheit
Escribe una funci√≥n que convierta una temperatura dada en grados Celsius a grados Fahrenheit. Para convertir de Celsius a Fahrenheit hay que multiplicar por 9, luego dividir entre 5 y a esto sumarle 32.

In [ ]:
def celsius_a_fahrenheit(valor):
  return ((valor*9)/5) +32


celsius = 25
print(f"{celsius} grados Celsius son {celsius_a_fahrenheit(celsius)} grados Fahrenheit")

25 grados Celsius son 77.0 grados Fahrenheit

## Ejercicio3: Mayor de tres n√∫meros
Escribe una funci√≥n que tome tres n√∫meros como par√°metros y devuelva el mayor de ellos.

In [ ]:
def mayor_de_tres(num1,num2,num3):
  lista = [num1,num2,num3]
  mayor = lista[0]
  for x in lista:
    if mayor<x:
      mayor=x
  return mayor




print(f"El mayor de 3, 7 y 9 es: {mayor_de_tres(3, 7, 9)}")

El mayor de 3, 7 y 9 es: 9

## Ejercicio 4: Encontrar vocales en una cadena
Escribe una funci√≥n que tome una cadena como par√°metro y cuente cu√°ntas vocales contiene.

In [ ]:
def contar_vocales(frase):
  vocales = ["a","e", "i", "o", "u"]
  contador = 0
  for x in frase:
    if x in vocales:
      contador+=1
  return contador





cadena = "Hola Mundo"
print(f"La cadena '{cadena}' tiene {contar_vocales(cadena)} vocales")

La cadena 'Hola Mundo' tiene 4 vocales

# Colecciones en Python ‚ú®

Hay cuatro tipos de datos de recopilaci√≥n en el lenguaje de programaci√≥n Python:

* La **lista/array** es una colecci√≥n ordenada y modificable. Permite miembros duplicados.
* **Tupla** es una colecci√≥n ordenada e inmutable. Permite miembros duplicados.
* **Set/conjunto** es una colecci√≥n desordenada, inmutable y no indexada. No hay miembros duplicados.
* El **diccionario** es una colecci√≥n ordenada y modificable. No hay miembros duplicados.

# Arrays/Listas en Python

Los arrays o las listas se utilizan para almacenar m√∫ltiples valores en una sola variable:

In [ ]:
list1 = ["abc", 34, True, 40, "male"] # pueden ser de diferentes tipos --> esto solo en python

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

### Acceso a un elemento de la lista

In [ ]:
cars[0] # accede aquel en la posicion 0

'Ford'

In [ ]:
cars[-1] # accede al ultimo

'BMW'

In [ ]:
cars[1:3] # accede desde la posicion 1 contando este, hasta la posicion 3 sin contarlo

['Volvo', 'BMW']

In [ ]:
cars[1:] # desde el 1 hasta el final

['Volvo', 'BMW']

In [ ]:
cars[:2] # desde el inicio hasta la posicion 2, no se cuenta el 2

['Ford', 'Volvo']

### Modificar un valor de la lista

In [ ]:
cars[0] = "Toyota"

In [ ]:
cars

['Toyota', 'Volvo', 'BMW']

In [ ]:
cars[2:4] = ["Mercedes", "Seat"]

In [ ]:
cars

['Toyota', 'Volvo', 'Mercedes', 'Seat']

### Para saber la longitud de la lista
La longitud de una lista es siempre uno m√°s que el √≠ndice de lista m√°s alto.

In [ ]:
len(cars)

4

### Recorrer una lista
Puede utilizar el bucle for in para recorrer todos los elementos de una lista.

In [ ]:
for x in cars: # recorre cada coche
  print(x)

### A√±adir elementos a la lista

In [ ]:
cars.append("Honda") # Se a√±ade en la √∫ltima posici√≥n.

In [ ]:
cars.insert(2, "Tesla")

In [ ]:
cars

['Toyota', 'Volvo', 'Tesla', 'Mercedes', 'Seat', 'Honda']

In [ ]:
cars2 = ["Skoda", "Ford"]
cars.extend(cars2)

In [ ]:
cars3 = ["Porche", "Ferrari", "Aston Martin"]
cars = cars + cars3

### Eliminando un elemento de la lista

In [ ]:
cars.pop(1) # se elimina el coche de la posici√≥n 1

In [ ]:
cars.remove("Volvo") # se elimina "Volvo"

## Tabla resumen de funciones listas en python

| M√©todo  | Descripci√≥n         |
|---------|---------------------|
|append()	| A√±ade un elemento al final de la lista|
|clear()	| Elimina todos los elementos de una lista|
|copy()	  | Devuelve una copia de una lista|
|count()	| Devuelve el cantidad de elementos que hay en la lista|
|extend()	| A√±ade elementos de una lista al final de otra lista|
|index()	| Devuelve el √≠ndice del primer elemento con el valor especificado.|
|insert()	| Agrega un elemento en la posici√≥n especificada|
|pop()	  | Elimina el elemento en la posici√≥n especificada|
|remove()	| Elimina el primer elemento con el valor especificado|
|reverse()| Invierte el orden de la lista|
|sort()	  | Ordena la lista|

https://www.w3schools.com/python/exercise.asp?filename=exercise_lists1

# Ejercicios Arrays

## Ejercicio 1: Concatenar Dos Listas
Escribe una funci√≥n que tome dos listas y las combine en una sola lista.

In [ ]:
def concatenar_listas(lis1,lis2):
  lista2 = []
  lista2 = lis1 + lis2
  return lista2



lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
print(f"La concatenaci√≥n de {lista1} y {lista2} es: {concatenar_listas(lista1, lista2)}")

La concatenaci√≥n de [1, 2, 3] y [4, 5, 6] es: [1, 2, 3, 4, 5, 6]

## Ejercicio 2: Ordenar una Lista
Escribe una funci√≥n que tome una lista de n√∫meros y devuelva la lista ordenada en orden ascendente.

In [ ]:
def ordenar_lista(lista):
  return sorted(lista)


lista_ordenada = ordenar_lista(numeros)

numeros = [5, 2, 9, 1, 5, 6]
print(f"La lista {numeros} ordenada es: {ordenar_lista(numeros)}")

La lista [5, 2, 9, 1, 5, 6] ordenada es: [1, 2, 5, 5, 6, 9]

## Ejercicio 3: Eliminar duplicados y mantener el orden
Escribe una funci√≥n que tome una lista y elimine los elementos duplicados, manteniendo el orden original de los elementos.

In [ ]:
def eliminar_duplicados_mantener_orden(): #TODO




numeros = [1, 2, 3, 1, 2, 4, 5]
print(f"La lista {numeros} sin duplicados (manteniendo el orden) es: {eliminar_duplicados_mantener_orden(numeros)}")

## Ejercicio 4: Encontrar pares en una lista quesuman un n√∫mero dado
Escribe una funci√≥n que tome una lista de n√∫meros y un n√∫mero objetivo, y devuelva una lista de pares de n√∫meros que sumen el n√∫mero objetivo.

In [ ]:
def encontrar_pares(lista, objetivo):
    #TODO

numeros = [1, 2, 3, 4, 5, 6]
objetivo = 7
print(f"Los pares en {numeros} que suman {objetivo} son: {encontrar_pares(numeros, objetivo)}")

# Tuplas en Python

Las tuplas se utilizan para almacenar varios elementos en una sola variable.

Tuple es uno de los 4 tipos de datos integrados en Python que se utilizan para almacenar colecciones de datos; los otros 3 son Lista (lista/arrray), Conjunto (set) y Diccionario (dict), todos con diferentes cualidades y usos.

**Una tupla es una colecci√≥n ordenada y no se puede modificar !!!**

Las tuplas se escriben entre par√©ntesis.

Caracter√≠sticas:
* **Inmutabilidad**: Una vez creada, los elementos de una tupla no pueden ser modificados (ni a√±adidos, eliminados o cambiados).
* **Ordenadas**: Los elementos tienen un orden definido que no cambia.
* **Heterog√©neas**: Pueden contener elementos de diferentes tipos (enteros, cadenas, listas, etc.).

## Sintaxis de las tuplas.

Las tuplas se definen utilizando par√©ntesis () y los elementos se separan por comas.

In [ ]:
# Crear una tupla vac√≠a
tupla_vacia = ()

# Crear una tupla con un solo elemento (nota la coma al final)
tupla_un_elemento = (1,)

# Crear una tupla con m√∫ltiples elementos
tupla_varios_elementos = (1, 2, 3, "hola", True)

print(tupla_vacia)  # Salida: ()
print(tupla_un_elemento)  # Salida: (1,)
print(tupla_varios_elementos)  # Salida: (1, 2, 3, 'hola', True)

()
(1,)
(1, 2, 3, 'hola', True)

## Acceder a Elementos en una Tupla
Los elementos de una tupla se pueden acceder utilizando √≠ndices, igual que en las listas. Los √≠ndices comienzan desde 0.

In [ ]:
tupla = (10, 20, 30, 40, 50)

# Acceder al primer elemento
print(tupla[0])  # Salida: 10

# Acceder al tercer elemento
print(tupla[2])  # Salida: 30

# Acceder al √∫ltimo elemento
print(tupla[-1])  # Salida: 50

## Operaciones Comunes con Tuplas

### Desempaquetado de Tuplas
El desempaquetado de tuplas permite asignar los elementos de una tupla a m√∫ltiples variables.

In [ ]:
tupla = (1, 2, 3)
a, b, c = tupla

print(a)  # Salida: 1
print(b)  # Salida: 2
print(c)  # Salida: 3

### Concatenaci√≥n de Tuplas
Puedes concatenar dos o m√°s tuplas utilizando el operador +.

In [ ]:
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)
tupla_concatenada = tupla1 + tupla2

print(tupla_concatenada)  # Salida: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

### Repetici√≥n de Tuplas
Puedes repetir los elementos de una tupla utilizando el operador *.

In [ ]:
tupla = (1, 2, 3)
tupla_repetida = tupla * 2

print(tupla_repetida)  # Salida: (1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3)

### Sub-tuplas
Puedes obtener una sub-tupla utilizando la notaci√≥n de slicing.

In [ ]:
tupla = (0, 1, 2, 3, 4, 5)

# Sub-tupla con los elementos del indice 1 al 3 (excluyendo el 4)
sub_tupla = tupla[1:4]

print(sub_tupla)  # Salida: (1, 2, 3)

### Longitud de una Tupla
Puedes obtener el n√∫mero de elementos en una tupla utilizando la funci√≥n len().

In [ ]:
tupla = (1, 2, 3, 4, 5)
print(len(tupla))  # Salida: 5

## M√©todos de tuplas
Las tuplas tienen m√©todos limitados debido a su inmutabilidad. Los m√©todos m√°s comunes son:

* count(x): Devuelve el n√∫mero de veces que el elemento x aparece en la tupla.
* index(x): Devuelve el √≠ndice de la primera aparici√≥n del elemento x en la tupla.

In [ ]:
tupla = (1, 2, 2, 5, 4, 2)

# Contar cuantas veces aparece el numero 2
print(tupla.count(2))  # Salida: 3

# Encontrar el √≠ndice del primer numero 3
print(tupla.index(5))  # Salida: 3

3
3

# Tuplas üÜö Listas
Las listas y las tuplas son ambas estructuras de datos utilizadas en Python para almacenar colecciones de elementos, pero tienen algunas diferencias clave que influyen en cu√°ndo y c√≥mo deben ser usadas.

* Tuplas:
  * **Son inmutables**, lo que significa que una vez creadas, no pueden ser modificadas (no se pueden cambiar, a√±adir ni eliminar elementos).
  * Generalmente son **m√°s r√°pidas** que las listas debido a su inmutabilidad. Esto puede hacer que las tuplas sean m√°s eficientes en t√©rminos de tiempo y espacio cuando se usan como estructuras de datos inmutables.
  * Son ideales para datos constantes que no necesitan ser modificados.

* Listas:
  * Son mutables, lo que significa que pueden ser modificadas despu√©s de su creaci√≥n (se pueden cambiar, a√±adir y eliminar elementos).
  * Almacenar colecciones de datos homog√©neos (mismos tipos de datos en una estructura).
  * Realizar operaciones donde se necesita modificar, ordenar o filtrar los datos.

# Diccionarios en python üìö

Un diccionario es una estructura de datos en Python que almacena pares de clave-valor. Es una colecci√≥n no ordenada y mutable que permite almacenar y recuperar datos de manera eficiente utilizando claves √∫nicas.

## Caracter√≠sticas:
* Claves √∫nicas: Cada clave en un diccionario debe ser √∫nica.
* Mutables: Los diccionarios pueden ser modificados despu√©s de su creaci√≥n (se pueden a√±adir, eliminar y cambiar elementos).

In [ ]:
# Crear un diccionario vac√≠o
mi_diccionario = {}

# Crear un diccionario con elementos
mi_diccionario = {
    "nombre": "Juan",
    "edad": 30,
    "ciudad": "Madrid"
}
print(mi_diccionario)

## Acceder a valores en un diccionario
Utilizando sus claves

In [ ]:
mi_diccionario = {"nombre": "Juan", "edad": 30, "ciudad": "Madrid"}

# Acceder al valor asociado con la clave 'nombre'
print(mi_diccionario["nombre"])  # Salida: Juan

# Acceder al valor asociado con la clave 'edad'
print(mi_diccionario["edad"])  # Salida: 30

## M√©todos √∫tiles

* keys(): Devuelve una vista de las claves del diccionario.
* values(): Devuelve una vista de los valores del diccionario.
* items(): Devuelve una vista de los pares clave-valor (como tuplas).

In [ ]:
mi_diccionario = {"nombre": "Juan", "edad": 30, "ciudad": "Madrid"}

print(mi_diccionario.keys())   # Salida: dict_keys(['nombre', 'edad', 'ciudad'])
print(mi_diccionario.values()) # Salida: dict_values(['Juan', 30, 'Madrid'])
print(mi_diccionario.items())  # Salida: dict_items([('nombre', 'Juan'), ('edad', 30), ('ciudad', 'Madrid')])

# Ejercicios Diccionarios

## Ejercicio 1: Traductor de Palabras
Escribe un programa que funcione como un peque√±o traductor de palabras utilizando un diccionario

In [ ]:
traductor = {
    "hello": "hola",
    "world": "mundo",
    "computer": "computadora"
}
# Entrada: "hello"
# Salida esperada: "hola"

palabra = input("Introduce una palabra en ingl√©s: ")

# TODO

# Ejercicios bucles ‚≠ê‚≠ê

## Ejercicio 1

Imprimir N√∫meros Pares del 1 al 20.

In [ ]:
# TODO

## Ejercicio 2: Generar una Pir√°mide de Niveles
Escribe un programa que genere una pir√°mide de n√∫meros con n niveles. Cada nivel debe contener el mismo n√∫mero de d√≠gitos que el nivel en el que se encuentra.


```
n = 5
# Salida esperada:
# 1
# 22
# 333
# 4444
# 55555

```

In [ ]:
n = 5
# TODO

## Ejercicio 3:  Filtrar Palabras por Longitud
Escribe un programa que filtre las palabras de una lista que tienen m√°s de n caracteres.



```
palabras = ["manzana", "banana", "naranja", "uva", "pera", "sandia"]
n = 5
# Salida esperada: ['manzana', 'banana', 'naranja', 'sandia']

```

In [ ]:
palabras = ["manzana", "banana", "naranja", "uva", "pera", "sandia"]
n = 5

# TODO

# Ejercicios extra ‚≠ê‚≠ê‚≠ê

## Ejercicio 1
Se pide dise√±ar un programa que pida al usuario
que escriba una palabra. Despu√©s, imprimir√° por pantalla cu√°les
son las vocales presentes en dicha palabra y en qu√© posici√≥n de la
misma est√° cada una. Habr√° que prestar atenci√≥n a los acentos.

## Ejercicio 2

Escribe un programa que pida un n√∫mero al usuario (por
simplicidad, el numero no trendra decimales). Despues, pedira un
digito y calculara cuantas veces aparece dicho digito en el numero.



```
Introduce el n√∫mero que quieras: 6592173638232725382625
¬øQue digito quieres buscar? 3
En el n√∫mero 6592173638232725382625 aparacce 4 veces el digito 3
```

## Ejercicio 3
Encuentra la letra
Escribe un programa que pida una palabra al usuario (por
simplicidad, se escribira siempre todo en minuscula y sin acentos).
Despues, pedira una letra y calculara cuantas veces aparece dicha
letra en la palabra.



```
Introduce la palabra que quieras: supercalifragilisticoespialidoso
¬øQu√© letra quieres buscar? s
En la palabra supercalifragilisticoespialidoso aparece 4 veces la letra s.
```